.App{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.Header{
    display: flex;
    justify-content: space-between;
    width: 1300px;
    height: 100vh;
    flex-direction: column;
    position: relative;
}

.Header > nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: min-content;
    /* border: 2px solid red; */
    max-width: 1300px;
    padding: 20px 45px;
}
video{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    z-index: -1;
    object-fit: cover;
}
nav > .links{
    display: flex;
    gap: 30px;
    color: white;
    font-weight: 800;
    font-size: 15px;

}
.burger{
    display: none;
}
.links > li{
    letter-spacing: 1.1px;
}
nav > .links2{
    display: flex;
    gap: 15px;
    color: white;

}
.links2 > li{
    font-size: 25px;

}
.bottomheader{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    justify-content: space-between;
    height: 80%;
    gap: 30px;
}
.secondbottom > .btns{
    display: flex;
gap: 10px;
}
.secondbottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    justify-content: space-between;
    
    gap: 30px;
}
.btns > .btn1{
    width: 250px;
    border: none;
    border-radius:5px ;
    padding: 10px 35px;
    background-color: white;
    color: black;
    font-weight: bolder;
    font-size: 17px;
}
.btns > .btn2{
    width: 250px;
    border: none;
    border-radius:5px ;
    padding: 10px 35px;
    background-color: rgba(0, 0, 0, 0.468);
    color: white;
    font-weight: bolder;
    font-size: 17px;
    backdrop-filter: blur(5px);
}
.para > p{
    color: white;
}

.bottomheader > .midheader{
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
.midheader > h1{
    font-size: 45px;
}
.midheader > p{
    font-size: 24px;
}
.vehiclescomp{
    width: 1300px;
    background-color: red;
    height: 100vh;
}
.vehiclesloop{
    width: 100%;
    height: 100%;
    border: 2px solid black;
}
.vehiclecontainer{
    width: 100%;
    height: 100%;
    position: relative;
}
.vehiclecontainer > img{
z-index: -1;
width: 100%;
height: 100%;
object-fit: cover;
}
 .vehiclecontainer >.btnsinfo1{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    left: 0%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5% 0px;
    flex-direction: column;
    /* border: 2px solid green; */
}
.cardetails{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cardetails > h1{
    font-size: 45px;
    /* color: white; */
}
.cardetails > p{
    font-size: 19px;
    font-weight: bold;
}
.buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.buttons > .btns{
display: flex;gap: 10px;
text-align: center;
}
